/* **************************HTML TAGS SELECTOR********************************** */
body{
    margin: 0;
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #e0ebe8;
}
h1{
    color: #66BFBF;
    font-size: 4.37rem; /*16px==100% , 70px/16*100 ==437 1em=100% 70px/16px==4.37em */
    /* rem(most preferable) is relative to root that means it will take 1em == 16px or 100% */
    margin: 50px auto, 0, auto;
    margin-bottom: 93.629;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875em;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
hr{
    margin: 100px auto 100px auto;
    border-style: dotted;
    border-color:  #baeeee;
    border-width: 10px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    width: 10%;
}
a{
    color: #11999E;
}
/* **************************HTML CLASS SELECTOR********************************** */
.top-container{
    background-color: #e0ebe8;
    position: relative;
    padding-top: 100px;
    padding-bottom: 0;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container
{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.mountain-img{
    /* background-color: #40514E; */
}
.profile{
    width: 800px ;
    margin: auto;
}
.web-development{
    width: 25%;
    float: left;
    margin-right: 30px;
}
/* .web-dev-description{
    clear:left;
} */
.data-structure{
    width: 25%;
    float: right;
    margin-left: 30px;
}
/* .data-structure-description{
    clear: right;
} */
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;

}
.contact-me{
    line-height: 2;
    width: 45%;
    margin: 40px auto 60px;
}
.footer-link
{
    color: #11999E;
    padding: 30px;
    text-decoration: none;
}
.footer-link:hover{
    color: #EAF6F6;
}
.copy-right{
    margin-top: 50px;
    color:#EAF6F6;
    font-size: 0.75rem;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
#programmer{
    font-weight: normal;
}
