/* **************************HTML TAGS SELECTOR********************************** */
body{
    margin: 0;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif !important;
}
h1{
    color: #66BFBF !important;
    font-size: 4.37rem !important; /*16px==100% , 70px/16*100 ==437 1em=100% 70px/16px==4.37em */
    /* rem(most preferable) is relative to root that means it will take 1em == 16px or 100% */
    /* margin: 70px auto 93.629 !important; */
    font-family: 'Sacramento', cursive !important;
    font-weight: bolder !important;
}
h2{
    color: #66BFBF !important;
    font-weight: bold !important;
    font-size: 1.875rem !important;
}
h3{
    font-weight: bold !important;
    color: #11999E !important;
}
hr{
    margin: 100px auto 100px !important;
    border-style: dotted !important;
    border-color:  #e0ebe8 !important;
    border-width: 10px 0 0!important;
    background-color: white !important;
    width: 10% !important;
}
a{
    color: #11999E;
}
/* **************************HTML CLASS SELECTOR********************************** */
.top-container{
    background-color: #e0ebe8;
    padding-top: 10%!important;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container
{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.top-cloud{
    position: absolute;
    right: 35%;
    top:75px;
    width: 10%;
}
.bottom-cloud{
    display: block;
    margin-left: 15%;
    width: 10%;
}
.mountain-img{
    width: 60%;
}
.profile{
    /* width: 700px ; */
    margin: auto;
}

/* .web-dev-description{
    clear:left;
} */

/* .data-structure-description{
    clear: right;
} */
.data-structure{
    width: 200px;
    margin-bottom: 17px !important;
}
.web-development{
    width: 200px;
    
}
.skill-row{
    width: 50%;
    margin:100px auto 100px;
    /* text-align: left; */
    line-height: 2;

}
.contact-me{
    line-height: 2;
    width: 45%;
    margin: 40px auto 60px;
}
.footer-link
{
    color: #11999E;
    padding: 7px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6 !important;
}
.copy-right{
    margin-top: 50px;
    color:#EAF6F6;
    font-size: 0.75rem;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif !important;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.navbar img{
    width: 40px !important;
}
.nav-item{
    padding-right: 30px !important;
}
.background{
    background-color: #e0ebe8 !important;
}
.background a{
    color: #66BFBF !important;
}
.background a:hover{
    color:white !important;
}
.navbar-toggler
{
    color: #66BFBF !important;
    padding-right: 35px !important;
}
.footer-link{
    display: block;
}
.fab-link{
    display: inline-block;
}
.colr{
    color:#055052;
    font-size: 30px;
}
#programmer{
    font-weight: normal;
}
@media (max-width : 600px)
{
    h1{
        font-size: 2.5rem !important;
    }
    h2{
        font-size: 1.4rem !important;
    }
    .bottom-cloud{
        width: 15%;
    }
    .top-cloud{
        width: 15%;
    }
    .skill-row{
        width: 80%;
        margin:100px auto 100px;
        /* text-align: left; */
        line-height: 2;
    
    }
    .contact-me{
        line-height: 2;
        width: 80%;
        margin: 40px auto 60px;
    }
    .navbar img{
        width: 30px !important;
    }
}
@media (min-width : 700px) {
    .web-development{
        width: 25%;
        float: left;
        margin-right: 30px;
    }
    .skill-row{
        text-align: left;
    }
    .data-structure{
        width: 25%;
        float: right;
        margin-left: 30px;
    }
}
